* {
  font-family: Helvetica Neue UltraLight, Gill Sans Light, sans-serif;
  font-weight: 100;
}

h3 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
  margin-right: 200px;
  margin-left: 2.5%;
}

div > p {
  margin-right: 25%;
  margin-left: 5%;
}

div pre {
  background-color: #222;
  color: #ddd;
  padding: 10px;
}
